*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    width: 100%;
    background-image: linear-gradient(rgba(7,7,10,10));
    background-size: cover;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding: 2%;
    padding-left: 10%;
}
nav ul li{
    padding: 10px 20px ;
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    

}
nav ul li a :hover{
    color: #ea1538;
    text-decoration: underline;
    transition: .3s;
}
button{
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    color: aliceblue;
    font-weight: 900;
    transition: .4s;
    font-size: 15px;
    background-color: red;
}
button:hover{
    cursor: pointer;
    transform: scale(1.2);
}


/*
form.html
*/

.body{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
    background-color: rgb(114, 48, 175);
}
.back{
    border: none;
    border-radius: 30px;
    color: aliceblue;
    font-weight: 900;
    transition: .4s;
    font-size: 15px;
    background-color: rgb(9, 246, 44);
    margin: 0;
}
button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#userSlider {
    width: 80%;
    margin: 0 auto;
}

#userRange {
    width: 100%;
}

#highlightedPlan {
    font-weight: bold;
    color: green;
    margin-top: 10px;
}
